body {
  background-color: #f4f1de;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #5d5a58;
}

.words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: #e07a5f;
  padding: 2rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 100%;
}

.words span {
  font-size: 1rem;
  margin: 0.25rem;
  color: #f4f1de;
}

textarea {
  width: 100%;
  margin-bottom: 1rem;
  resize: none;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #81b29a;
  color: #f4f1de;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #689589;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
